$primary:blue;
$secondary: orange;
$black: black;
$white: white;

$color:(
    "primary": $primary,
    "secondary": $secondary,
    "black": $black,
    "white": $white,

);

$fontfamily: sans-serif;