@import url(./_variables.scss);
@import url(./_reset.scss);
@import url(./_mixins.scss);
:root{
    --abc: black;
}

.text-black{
    color: $black;
}
.text-primary-100{
    color: rgba($black, .1);
}

.header{
    background: black;
    a{
        color: white;
        &:hover{
            color: red;
        }
    }
    &_top{
        background: red;
    }
    .menubar{
        @include flex(center, center);
        li{
            margin-bottom: 0;
        }
    }
}
ul{
    list-style: none;
    padding-left: 0;
    li{
        margin-bottom: 1rem;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
button{
    border: 1px solid transparent;
    border-radius: 0;

}
h1{
    font-weight: 700;
    @extend h1;
}
.btn{
    @extend button;
}