@import url(./_variables.scss);
@import url(./_reset.scss);
@import url(./_mixins.scss);
:root{
    --abc: black;
}

.text-black{
    color: $black;
}
.text-primary-100{
    color: rgba($black, .1);
}

.header{
    background: black;
    a{
        color: white;
        &:hover{
            color: red;
        }
    }
    &_top{
        background: red;
    }
}
